<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.grace.book">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/IndigoTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.UserEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CropPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BookInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"/>
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"/>

        <!--友盟消息推送-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58bcfe38f43e481d7100051a">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="17578c7cc394cf2f4a173973232c596c">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="normal" >
        </meta-data>
    </application>

</manifest>
